.alert-light-danger {
  background-color: #feefd0 !important;
  color: #f55252 !important;
  border-color: #feefd0;
}

.btn-fo {
  background-color: #08009b;
  color: white;
}

.fo {
  color: #08009b;
}

.fo-bg {
  background: linear-gradient(to right, #08009b, #a2dbfa);
}

.pass {
  position: relative;
}

.eyepass {
  position: absolute;
  top: 8px;
  right: 0px;
  border: none;
  background-color: transparent;
}
