<div class="card">
  <a (click)="viewDetail()">
    <div class="card-content">
      <div class="card-body">
        <h5 class="card-title">{{pqr?.CodeRequestType?.Name}} - {{pqr?.CodeRequestSubtype.Name}} - {{pqr?.Consecutive}}</h5>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Origen:</td>
                  <td class="users-view-username">
                    {{ pqr?.Origin?.Name }}
                  </td>
                </tr>
                <tr>
                  <td>Destino:</td>
                  <td class="users-view-username">
                    {{ pqr?.Departure?.Name }}
                  </td>
                </tr>
                <tr>
                  <td>Fecha suceso:</td>
                  <td class="users-view-username">
                    {{ pqr?.EventDate?.split('T')[0] }}
                  </td>
                </tr>
                <tr>
                  <td>Hora suceso:</td>
                  <td class="users-view-username">
                    {{ pqr?.EventDate?.split('T')?.pop()?.split('.')[0] }}
                  </td>
                </tr>
                </tbody>
                </table>
          </div>
          </div>
      </div>
    </div>
  </a>
</div>
