<!-- Knowledge base categories Content start  -->
<ngx-spinner></ngx-spinner>
<p class="noassigned" *ngIf="listPqrs?.length < 1">Actualmente no cuentas con solicitudes asignadas</p>
<section class="kb-categories position-relative">
  <div
    class="kb-overlay"
    [ngClass]="{ show: isShowCategory }"
    (click)="isShowCategory = false"
  ></div>
  <div class="row">
    <!-- right side section -->
    <div class="col-md-12">
      <div class="row match-height">
        <div class="col-lg-4 col-sm-6" *ngFor="let item of listPqrs">
          <app-card-pqrs-resume [pqr]="item"></app-card-pqrs-resume>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Knowledge base categories Content ends -->
