<ngx-spinner></ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Responder a solicitud N°: {{ pqrDetail?.Id }}
        </h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form">
            <div class="form-body">
              <!-- Assing to user init -->
              <div *ngIf="true">
                <h6 class="mt-3">
                  <i class="ft-tag mr-2"></i>Asignación de solicitud
                </h6>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="projectinput1" class="sr-only">Nombre</label>
                      <select
                        class="form-control"
                        (change)="onChangeReasign($event?.target?.value)"
                      >
                        <option
                          [value]="usr?._id"
                          *ngFor="let usr of listUsers"
                        >
                          {{ usr.Name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    type="button"
                    class="btn btn-primary mr-1"
                    (click)="handleAssign()"
                  >
                    <i class="ft-user-check mr-2"></i>Asignar
                  </button>
                </div>
              </div>
              <!-- ASsing to user end -->
              <h6 class="mt-3">
                <i class="ft-user mr-2"></i>Información personal
              </h6>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1" class="sr-only">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="pqrDetail?.NameSender"
                      placeholder="Nombre"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput2" class="sr-only">Correo</label>
                    <input
                      type="email"
                      class="form-control"
                      [value]="pqrDetail?.EmailSender"
                      placeholder="Correo"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only"
                      >Tipo de identificación</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [value]="pqrDetail?.DocumentTypeSender?.Name"
                      placeholder="Tipo de identificación"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only"
                      >Número de identificación</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Identificación"
                      [value]="pqrDetail?.IdSender"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only"
                      >Número celular</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [value]="pqrDetail?.PhoneSender"
                      placeholder="Número celular"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only">Dirección</label>
                    <input
                      type="email"
                      class="form-control"
                      [value]="pqrDetail?.AddressSender"
                      placeholder="Dirección"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <h6 class="mt-2"><i class="ft-clipboard mr-2"></i>Hechos</h6>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only">Origen</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Origen"
                      [value]="'Origen: ' + pqrDetail?.Origin?.Name"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only">Destino</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Destino"
                      [value]="'Destino: ' + pqrDetail?.Departure?.Name"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only"
                      >Tipo de reclamo</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tipo de reclamo"
                      [value]="
                        'Tipo de solicitud: ' + pqrDetail?.CodeRequestType?.Name
                      "
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only"
                      >Subtipo de reclamo</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      [value]="
                        'Subtipo de solicitud: ' +
                        pqrDetail?.CodeRequestSubtype?.Name
                      "
                      placeholder="Subtipo de reclamo"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only"
                      >Fecha de suceso</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [value]="pqrDetail?.EventDate?.split('T')[0]"
                      placeholder="Fecha de suceso"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only"
                      >Hora de suceso</label
                    >
                    <input
                      type="hora suceso"
                      class="form-control"
                      [value]="
                        pqrDetail?.EventDate?.split('T')?.pop().split('.')[0]
                      "
                      placeholder="Hora de suceso"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only">Adjunto 1</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Adjunto 1"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only">Adjunto 2</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Adjunto 2"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only">Adjunto 3</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Adjunto 3"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3" class="sr-only"
                      >Placa del vehículo</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [value]="'Placa del vehículo: ' + pqrDetail?.IdVehicle"
                      placeholder="Placa del vehículo"
                      readonly
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4" class="sr-only"
                      >Lateral del vehículo</label
                    >
                    <input
                      type="Lateral del vehículo"
                      class="form-control"
                      [value]="
                        'Lateral del vehículo: ' + pqrDetail?.SideVehicle
                      "
                      placeholder="Lateral del vehículo"
                      readonly
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="projectinput8" class="sr-only">Sucesos</label>
                <textarea
                  rows="7"
                  class="form-control"
                  readonly
                  disabled
                  [value]="pqrDetail?.Detail"
                  placeholder="Sucesos"
                ></textarea>
              </div>
              <h6 class="mt-2"><i class="ft-clipboard mr-2"></i>Respuesta</h6>
              <form [formGroup]="formResponsePqr">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3" class="sr-only"
                        >Adjunto 1</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Adjunto 1"
                        formControlName="attachmentOne"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4" class="sr-only"
                        >Adjunto 2</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Adjunto 2"
                        formControlName="attachmentTwo"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3" class="sr-only"
                        >Adjunto 3</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Adjunto 3"
                        formControlName="attachmentThree"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4" class="sr-only"
                        >Respuesta</label
                      >
                      <textarea
                        rows="7"
                        class="form-control"
                        placeholder="Sucesos"
                        formControlName="answer"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <button
                type="button"
                class="btn btn-primary mr-1"
                [disabled]="formResponsePqr?.invalid"
                (click)="handleSubmit()"
              >
                <i class="ft-check mr-2"></i>Responder
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="handleCancel()"
              >
                <i class="ft-x mr-2"></i>Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
