<section id="extended">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Action Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body table-responsive">
            <table class="table text-center m-0">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Tipo</th>
                  <th>Subtipo</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Origen</th>
                  <th>Destino</th>
                  <th>Ver</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>

                  <td>Kelly</td>
                  <td>Carter</td>
                  <td>Female</td>
                  <td>kellycarter@mail.com</td>
                  <td>kellycarter@mail.com</td>
                  <td>kellycarter@mail.com</td>

                  <td class="text-truncate">
                    <a (click)="viewItem()" class="primary p-0">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
