<div class="header">
  <img src="../../../../assets/fo/logo_completo.png" alt="logo">
  <button (click)="goLogin()"><i class="ft-user text-primary cursor-pointer"></i></button>
</div>
    <section class="users-edit">
      <div class="row">
        <div class="col-12">
          <div class="card m-0 ">
            <div class="card-content">
              <div class="card-body">
                <!-- Nav-tabs -->
                <ul
                  ngbNav
                  #nav="ngbNav"
                  [activeId]="1"
                  class="nav-tabs justify-content-left"
                >
                  <li [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link d-flex align-items-center">
                      <i class="ft-user mr-1"></i>
                      <span class="d-none d-sm-block">Account</span>
                    </a>
                    <ng-template ngbNavContent>
                    <app-form-pqrs-create></app-form-pqrs-create>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link d-flex align-items-center">
                      <i class="ft-info mr-1"></i>
                      <span class="d-none d-sm-block">Information</span>
                    </a>
                    <ng-template ngbNavContent>
                  <app-form-pqrs-find></app-form-pqrs-find>
                    </ng-template>
                  </li>
                </ul>
                <div class="tab-content">
                  <div [ngbNavOutlet]="nav"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

