.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 25%;
    @media (max-width: 600px) {
      width: 60%;
      height: 60px;
    }
  }
  button {
    position: absolute;
    right: 30px;
    background-color: transparent;
    border: none;
    i {
      font-size: 25px;
    }
  }
}

